[Desktop Entry]
Name=DshlDeskURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/dshldesk;
TryExec=dshldesk
Exec=dshldesk %u
Icon=dshldesk
Terminal=false
Type=Application
StartupNotify=false
